
.registerDiv{
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 7px;
  gap: 2rem;
}

.registerDiv h2, h5{
  margin: 0;
}
.button{
  border-radius: 500px;
  border: none;
  width: 50%;
  margin: 2rem;
  background-color: rgb(117, 145, 69);
  height: 40px;
  color: lightgray;
}