.houseDiv{
  display: flex;
  flex-direction: column;
}

.button{
  border-radius: 500px;
  border: none;
  margin: 2rem;
  background-color: #609e71;
  height: 40px;
  color: white;
  width: 50%;

}

@media only screen and (max-width: 450px) {
  .houseDiv{
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .button{
    width: 80%;
  }
}

