.profileDiv{
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 500px) {
  .profileDiv{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}