.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
 
}

input{
  min-height: 25px;
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 4px;
}