.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
  margin-left: 1rem;
 
}

.loginForm label{
  margin: 0.3rem;
}

.loginForm input{
  min-height: 25px;
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0.3rem;
  padding: 5px;
}

.loginForm button{
  border-radius: 500px;
  border: none;
  width: 20%;
  margin: 2rem;
  background-color: #609e71;
  height: 40px;
  color: lightgray;

}