.formDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: fit-content;
  
}
.formDiv label{
  margin: 0.3rem;
}

.formDiv input{
  min-height: 25px;
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0.3rem;
  padding: 5px;
}

.formDiv button{
  border-radius: 500px;
  border: none;
  width: 20%;
  margin: 2rem;
  background-color: #609e71;
  height: 40px;
  color: lightgray;

}

.formDiv textarea{
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0.3rem;
  padding: 5px;
  resize: none;

}

.formDiv select{
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0.3rem;
  padding: 5px;
  resize: none;

}