.navbar {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 0.6rem;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.link{
  border-right: 1px solid lightgrey;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: rgb(44, 42, 42);
}

.h1{
  margin-right: auto; 
}

.username{
  background-color: #609e71;
  color: white;
  border-radius: 500px;
  padding: 1rem;
}

@media only screen and (max-width: 500px) {

  .navbar{
   flex-direction: column;
   height: 17vh;
   gap: 0.3rem;
   justify-content: center;
   
  }

  .navbar h1{
    margin: 0;
  }

  .link{
    border-bottom: 1px solid lightgrey;
    border-right: none;
    padding: 0;
  }
}