.navbar {
  border-bottom: 1px solid lightgrey;
  height: 50px;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
 
}
.navbarScroll{
  border-bottom: 1px solid lightgrey;
  height: 50px;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  opacity: 50%;
}

.h1{
margin-right: auto; 
}

.username{
  background-color: #609e71;
  color: lightgray;
  border-radius: 500px;
  padding: 0.8rem;
}