.navbar {
  border-bottom: 1px solid lightgrey;
  height: 50px;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 0.6rem;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.link{
  border-right: 1px solid lightgrey;
  padding: 1rem;
}

.h1{
margin-right: auto; 
}

.username{
  background-color: #609e71;
  color: white;
  border-radius: 500px;
  padding: 0.8rem;
}