.specificHouseDiv{
  display: grid;
  grid-template-columns: 1fr;
  
}

.specificHouseDiv button{
  border-radius: 500px;
  border: none;
  width: 50%;
  background-color: #609e71;
  height: 40px;
  color: white;

}

.infoDiv {
  padding: 1rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.infoDivInner {
  display: flex;
}

.imageDiv{
  display: flex;
  justify-content: center;
  align-items: center;

}

.imageDiv img{
  width: 100%;
  border-radius: 0%; 
}

.buttonsDiv{
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  margin-left: 10px;
}

.buttonsDiv button{
  width: 100%;
  margin: 1rem;
 
}

.buttonsDiv input[type="date"]{
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 0.7rem;
}

.formDiv {
  position: absolute;
  margin-top: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 65%;
  box-shadow: 5px 5px 11px -2px #000000;
}

.formDiv button{
  width: 30%;
 
}

.closeButton{
  margin: 0.7rem;
 
}

.iconsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons{
  font-size: 50px;
}

.smallIcons{
  font-size: 20px;
}

.text{
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .specificHouseDiv{
    grid-template-columns: 1fr;
    justify-items: center;
    
  }

  .specificHouseDiv button{
    width: 100%;
  }
  .infoDiv{
    grid-template-columns: 1fr;
  }

  .formDiv{
    width: 85%;
  }
  .formDiv button{
    width: 80%;
  }

  .icons{
    font-size: 25px;
  }

  .text{
    font-size: 15px;
  }

  .iconsDiv{
    justify-content:space-evenly;
    gap: 6px;
  }

  .commentsDiv button{
    width: 100%;
  }
  
}