.registerForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: fit-content;
  margin: 1rem 1rem;
  width: 60%;
 
}

.registerForm label{
  margin: 0.3rem;
}

.input{
  min-height: 25px;
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0.3rem;
  padding: 5px;
}

.button{
  border-radius: 500px;
  border: none;
  width: 30%;
  margin: 2rem;
  background-color: #609e71;
  height: 40px;
  color: white;
}

@media only screen and (max-width: 500px) {
  .registerForm{
    width: 100%;
  }
  .button{
    width: 80%;
  }
}
