
a {
  text-decoration: none;
  color: rgb(44, 42, 42);
}

#houseDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 5px;
}
/* #houseDiv{
  display: grid;
 grid-template-columns: 1fr 1fr;
  gap: 5px;
} */

#backgroundDiv{
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2019/01/13/11/49/iceland-3930162_960_720.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

button:hover{
  cursor:pointer;
  box-shadow: 5px 5px 11px -2px #000000;
  transform: scale(1.01);
}
